name: "Flake.lock: update Nix dependencies"

on:
  workflow_dispatch:
  schedule:
    - cron: '0 1 * * *' # daily at 01:00

jobs:
  nix-flake-update:
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - uses: DeterminateSystems/update-flake-lock@main
        id: update
        with:
          nix-options: --accept-flake-config
          token : ${{ secrets.FLAKE_TOKEN }}
          pr-title: "Update flake inputs"
          pr-labels: |
            dependencies
            automated
      
      - name: auto-merge
        if: steps.update.outputs.pull-request-number != ''
        run: gh pr merge --auto --squash ${{ steps.update.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ secrets.FLAKE_TOKEN }}

