name: Omnix CI Cache

on:
  # push:
  #   branches:
  #   - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: [nixos]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build with om ci
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          set -euo pipefail
          nix run github:juspay/omnix --accept-flake-config -- ci run --include-all-dependencies --out-link ./result.json -- --accept-flake-config > store-paths.txt

      - name: Push to Cachix
        env:
          CACHIX_AUTH_TOKEN: ${{ secrets.CACHIX_AUTH_TOKEN }}
        run: |
          set -euo pipefail
          cat store-paths.txt | xargs --no-run-if-empty nix run nixpkgs#cachix --accept-flake-config -- push "judah-personal"

      - name: Upload build metadata
        uses: actions/upload-artifact@v6
        with:
          name: om-ci-result
          path: result.json
          if-no-files-found: ignore
