name: Omnix CI Cache

on:
  push:
    branches:
      - main
    paths-ignore:
      - flake.nix
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  build:
    runs-on: [nixos]
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build with om ci
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          set -euo pipefail
          nix run github:juspay/omnix --accept-flake-config -- ci run --out-link ./result.json -- --accept-flake-config > store-paths.txt

      - name: Push to attic
        env:
          ATTIC_TOKEN: ${{ secrets.ATTIC_TOKEN }}
          ATTIC_CACHE_URL: ${{ vars.ATTIC_CACHE_URL }}
          ATTIC_CACHE_NAME: ${{ vars.ATTIC_CACHE_NAME }}
        run: |
          set -euo pipefail
          nix shell nixpkgs#attic-client -c bash -c "
            attic login '${ATTIC_CACHE_NAME}' '${ATTIC_CACHE_URL}' '${ATTIC_TOKEN}' --set-default
            cat store-paths.txt | xargs --no-run-if-empty attic push '${ATTIC_CACHE_NAME}'
          "
